/* * {
  box-sizing: border-box;
} */

html {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#00bf8f),
    to(#001510)
  );
  background: linear-gradient(to bottom, #00bf8f 0%, #001510 100%);
}

body {
  font-family: "Work Sans", sans-serif;
}

/* #canvas {
  height: 150px;
  width: 300px; */
/* } */
.logo {
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;

  position: relative;
  /* left: 50%; */
  /* top: 20px; */
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */
}

.logo__text {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -3px;
  background: -webkit-linear-gradient(#e0a639, #fdfd45, #e0a639);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  position: relative;
  z-index: 1;
}
.logo__text.second {
  font-size: 65px;
}

.logo__shadow {
  width: 100%;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -3px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  color: transparent;
  text-shadow: 0px 1px #9e6426, 0px 2px #9e6426, 0px 3px #9e6426,
    0px 4px #9e6426, 0px 5px #9e6426, 0px 6px #9e6426, 0px 7px #9e6426,
    0px 8px #9e6426, 0px 9px #9e6426;
}
.logo__shadow.second {
  top: 50px;
  font-size: 65px;
}

/* .arrow {
  position: absolute;
  left: 20%;
  top: 24%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* margin-top: 0%; 
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-left-width: 10px;
  border-right-width: 10px;
  border-top: 30px solid white;
  z-index: 3;
} */

/* GAME BOARD
*
*/
.container {
  display: inline-grid;
  /* position: absolute; */
  top: 25%;
  right: 5%;
  grid-template-columns: repeat(14, 60px);
  grid-template-rows: repeat(4, 77px);
  margin-bottom: 30px;
}

.start {
  grid-column-start: 1;
}

.push {
  grid-column-start: 2;
}

.tile {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#92dfc3),
    to(#4e8b61)
  );
  background-image: linear-gradient(to bottom right, #92dfc3, #4e8b61);
  border: 1px solid #4e8b61;
}

.white {
  background-image: none;
  background-color: white;
}

.blue {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#4882e4),
    to(#274fed)
  );
  background-image: linear-gradient(to bottom right, #4882e4, #274fed);
}

.inner {
  /* display: -webkit-box; */
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 6px solid black;
  height: 100%;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  /* flex-direction: column; */
}

#canvas {
  height: 230px;
  width: 300px;
}
.wheel-container {
  display: flex;
  height: 500px;
  width: 300px;
  flex-direction: column;
  align-content: center;
  justify-items: center;

  /* align-items: center; */

  justify-content: center;
  margin-right: 20px;
}
.arrow {
  font-size: 20px;
  /* margin-top: 90px; */
  /* position: relative;
  top: 100;
  left: 47%; */
  text-align: center;
  color: white;
  /* top: 40%; */
  z-index: 5;
}

.reset-btn {
  background: -webkit-linear-gradient(#e0a639, #fdfd45, #e0a639);
  padding: 10px 50px;
  border: 0;
  /* position: absolute; */
  /* left: 20%; */
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%); */

  color: black;
  font-weight: 900;
  text-transform: uppercase;
  box-shadow: 1px 1px #9e6426, 2px 2px #9e6426, 3px 3px #9e6426;
}
.reset-btn:focus {
  outline: none;
}
.reset-btn:disabled {
  box-shadow: none;
  opacity: 0.5;
  color: grey;
}
.reset-btn:active {
  box-shadow: none;
}
.game-area-container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
.fl-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
